@font-face {
      font-family: 'BebasKai';
      src: url('/public/assets/fonts/BebasKai.ttf');
}
@font-face {
      font-family: 'TradeGothic';
      src: url('/public/assets/fonts/TradeGothic.ttf');
}

$font-main: 'BebasKai';

* {
      margin: 0;
      box-sizing: border-box;
      padding: 0;
}

body {
      font-family: $font-main;
      background-color: #FDFAF3;
      header {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            .headerDiv{
                  padding: 30px 0px 0px 40px;
                  .title {
                        font-size: 2.5rem;
                        
                  }
                  .subTitle {
                        font-size: 1.25rem;
                  }

            }
            .navBar {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  font-size: 6.5rem;
                  margin: 150px 150px 0px 0px;
            }
      }

      main {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            
            .darkLight {
                  text-align: center;
                  background: rgb(29, 29, 29);
                  width: 70px;
                  height: 30px;
                  margin: 0 auto;
                  border-radius: 30px;

                  .light {
                        background: rgb(228, 248, 3);
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        margin: 2px;
                  }
            }

      section {
            margin: 40px;
            h2 {
                  max-width: 600px;
                  font-size: 34px;
                  margin-bottom: 30px;
            }

            .intro {
                  font-size: 22px;
                  margin-bottom: 20px;
            }

            div {
                  text-align: center;
                  // margin: 70px 0px 7px;
                  font-size: 60px;

                  .chevron {
                        width: 70px;
                        height: 70px;
                  }
            }

            }

            .projects {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;

            h2 {
                  text-align: center;
                  font-size: 30px;
                  background: pink;
            }

                  img {
                        border: 1px solid black;
                        height: 300px;
                        width: 300px;
                        margin-bottom: 15px;
                  }
            }

      }
      .recentWork {
            width: 300px;
            height: 50px;
            background-color: aquamarine;
            margin: 0 0 50px 300px;
            padding: 10px;
      }

      .footerLinks {
            height: 300px;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            padding: 15px;
            font-size: 1.35rem;
      }
}