
.card-container {
      width: 200px;
      height: 200px;
      border: 1px solid black;
}

.header {
      display: flex;
      justify-content: space-between;
}

.nav-section {
      margin: 20px;
      font-size: 1.5rem;
}