@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$font-main: 'Montserrat', sans-serif;

* {
      margin: 0;
      box-sizing: border-box;
      padding: 0;
}

body {
      font-family: $font-main;
      header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid black;

            .logo {
            width: 60%;
            height: 60%;
            max-width: 400px;
            margin: 15px;
            }

            div {
                  text-align: center;
            }
            .mobile-menu {
                  width: 60px;
                  height: 60px;
                  margin: 10px;
            }
      }

      main {
            display: flex;
            flex-direction: column;
            padding: 30px 20px;
            
            .darkLight {
                  text-align: center;
                  background: rgb(29, 29, 29);
                  width: 70px;
                  height: 30px;
                  margin: 0 auto;
                  border-radius: 30px;

                  .light {
                        background: rgb(228, 248, 3);
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        margin: 2px;
                  }
            }

      section {
            padding: 15px;
            h2 {
                  margin: 30px 0px;
                  max-width: 600px;
                  font-size: 34px;
            }

            p {
                  font-size: 22px;
            }

            div {
                  text-align: center;
                  margin: 70px 0px 7px;
                  font-size: 60px;

                  .chevron {
                        width: 70px;
                        height: 70px;
                  }
            }

            }

      }
}